@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Outfit";
}

:root {
	--background: #FFDEFC;
	--text: #161616;
	--accent: #F300A6;
	--primary: #9C00FF;
	--border: #FEACE4;
}

body {
	height: 100vh;
	background: var(--background);
	color: var(--text);
}

nav {
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 99999;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid var(--border);
	background: rgba(243,0,166,0.1);
	backdrop-filter: blur(5px);
}

nav h2 {
	color: var(--accent);
	margin-left: 20px;
	margin-right: 5px;
}

nav h4 {
	color: var(--primary);
}

nav .page-anchors {
	margin-left: 100px;
	margin-right: 220px;
}

.welcome-section {
	height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.welcome-section h1 {
	font-family: "Gravitas One";
	font-size: 4em;
    background-image: linear-gradient(75deg, var(--accent), var(--primary));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#commission-rules header h1 {
	font-family: "Gravitas One";
	font-size: 3em;
	margin-left: 50px;
	background-image: linear-gradient(75deg, var(--accent), var(--primary));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#commission-rules header h4 {
	margin-left: 55px;
	margin-bottom: 20px;
	padding-bottom: 5px;
	font-size: 1em;

	border-bottom: 1px solid var(--accent);
	width: 200px;
}

.commission-description {
	margin-left: 55px;
}

.commission-description {
	margin-bottom: 10px;
}

.commission-description ol{
	margin-top: 10px;
	margin-left: 40px;
}

ul {
	list-style: none;
	margin-left: 21px;
}

table {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 320px;
	border: 1px solid var(--accent);
}

table tr th {
	border: 1px solid var(--accent);
	padding: 10px;
}

table tr td {
	padding: 10px;
	border: 1px dashed var(--accent);
}

.thxs-h2, #copyright {
	text-align: center;
	margin-bottom: 50px;
}